.keypad .button {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.keypad .button:hover {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #cef278 45%, #a5e03d 50%);
}

.keypad .button:pressed {
    -fx-background-color:
        white,
        radial-gradient(center 50% -40%, radius 200%, #cef278 45%, #a5e03d 50%);
    -fx-background-insets: -3, 1;
}

.button {
    -fx-opacity: 1;
}

.text-field, .text-area {
	-fx-font-size: 26;
    -fx-background-color:
    	rgb(255, 255, 255, 0.15),
    	linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8) 50%),
        rgb(118, 126, 124);
    -fx-background-insets: 0 0 -1.4 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    -fx-padding: 6 10 4 10;
    -fx-effect: innershadow( gaussian, rgb(0, 0, 0, 0.8), 5, 0, 0, 2 );
}

.unlock-button .text {
    -fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.8), 0, 0.0 , 0 , -1 );
}

.unlock-button {
    -fx-background-color:
    	rgb(255, 255, 255, 0.08),
    	rgb(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#242a2e, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
        rgba(255,255,255,0));
    -fx-background-radius: 7, 6, 5, 4, 3, 5;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
	-fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.unlock-button:hover {
	-fx-background-color:
    	rgb(255, 255, 255, 0.08),
    	rgb(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#242a2e, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,1),
        rgba(255,255,255,0.08));
}

.unlock-button:pressed {
	-fx-background-color:
    	rgb(255, 255, 255, 0.08),
    	white,
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#242a2e, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,1),
        rgba(255,255,255,0.15));
}

.unlock-top {
    -fx-fill: #424952;
}

.unlock-bottom {
	-fx-fill: #2d3238;
}

.unlock-leftright {
	-fx-fill: #2d3238;
}

